<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
    </a>

    <div class="col order-first">
      <button type="button" class="btn btn-lg"  style="background-color: transparent; border-color: transparent; box-shadow: none; font-size:xx-large;" routerLink='/postloginhome'>FoodOrb</button>
    </div>

    <div class="col-md-3 text-end">

      <div *ngIf="!loginStatus">
        <button type="button" class="btn btn-outline-primary me-2" style="background-color: transparent; border-color: transparent; box-shadow: none; font-size:x-large; color: grey;" routerLink='/login'>Login</button>
        <button type="button" class="btn btn-primary" style="background-color: transparent; border-color: transparent; box-shadow: none; font-size:x-large; color: grey;" routerLink='/register'>Register</button>  
      </div>

      

    </div>
  </header>

<div style="background-image: url('https://www.total-takeout.com/editable/templates/default/images/carousel-2.jpg'); max-width: 100%; max-height: 100%;">
  <h1 style="font-family: cursive; color: #e0dcdc; font-size: xx-large;"> Welcome to my Angular final project</h1><br><br><br><br><br><br><br><br><br><br><br><br>
  <h4 style="font-family: cursive; color: #e0dcdc;"> Please make sure to run the API in the backend folder of the project with the command- npm start</h4><br><br>
  <h4 style="font-family: cursive; color: #e0dcdc;">This is a project for FoodOrb to implement a food delivery system using Angular</h4>
  <dl class="row">
    <dt class="col-sm-3" style="font-family: cursive; font-size: x-large; color: #e0dcdc; background-color: grey; opacity: 0.8;">Made By:-</dt>
    <dd class="col-sm-9" style="font-family: cursive; font-size: x-large; color: #e0dcdc; background-color: grey; opacity: 0.8;">Pushpendra Pathak</dd>
  </dl>  
</div>